.buttonTopic {
  background-color: #504edf;
  color: whitesmoke;
  border-width: 0;
  &:hover {
    background-color: #232b4e;
  }
  &:not(:disabled):not(.disabled):focus,
  :not(:disabled):not(.disabled).focus {
    background-color: #232b4e;
    border-width: 0;
    box-shadow: 0;
  }
}

.imgShadow{
  // box-shadow: 0 0 5px rgba(83, 83, 83, 0.15);;
}

.comment{
  width: 100%;
  background-color: #DEDEE3;
  // box-shadow: 0 0 3px #232B4E;
  margin-bottom: 15px;
  border-radius: 7px;
}