.scrollbar {
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

/* custom colors  */
.scrollbar-primary::-webkit-scrollbar {
  background-color: #e1e3e8;
}
.scrollbar-primary {
  scrollbar-color: #232b4e #232b4e;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #232b4e;
}

.scrollbar-primary2::-webkit-scrollbar {
  background-color: #E1E3E8 !important; 
}
.scrollbar-primary2 {
  scrollbar-color: #232b4e #232b4e;
}
.scrollbar-primary2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #232b4e;
}

.scrollbar-white::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
}
.scrollbar-white {
  scrollbar-color: #232b4e rgb(255, 255, 255);
}
.scrollbar-white::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #232b4e;
}

.button13 {
  background-color: #232b4e;
  color: whitesmoke;
  &:hover {
    background-color: #504edf;
  }
}
