.scrollbar {
  overflow: scroll;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

/* custom colors  */
.scrollbar-primary::-webkit-scrollbar {
  background-color: #f5f5f5;
}
.scrollbar-primary {
  scrollbar-color: #232b4e #f5f5f5;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #232b4e;
}

.country {
  margin: 5px;
  border-bottom: 1px black solid;
  font-size: 19px;
  font-family: Fantasy;
  text-align: center;
}

.countryHeader {
  font-size: 25px;
  font-family: Fantasy;
  text-align: center;
}

.profile {
  cursor: pointer;
  margin-bottom: 15px;
  border-bottom: #9393a19c 1px solid;
  margin :10px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.profile:hover {
  background-color: #e1e3e883;
}
