@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.logo {
  width: 140px;
}

.button {
  background-color: #504edf;
  margin: 2px 10px;
  padding: 5px 8px;
  font-size: 15px;
  min-width: 50px;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  border-width: 0;
  &:hover {
    background-color: #232b4e;
    color: whitesmoke;
  }
  &:not(:disabled):not(.disabled):focus,
  :not(:disabled):not(.disabled).focus {
    background-color: #232b4e;
    border-width: 0;
    box-shadow: 0;
  }
}

.button-login {
  background-color: #232b4e;
  margin: 2px 10px;
  padding: 5px 12px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  border-width: 0;
  width: 90%;

  &:hover {
    background-color: #504edf;
    color: whitesmoke;
  }
  &:not(:disabled):not(.disabled):focus,
  :not(:disabled):not(.disabled).focus {
    background-color: #232b4e;
    border-width: 0;
    box-shadow: 0;
  }
}

.navbar {
  width: 100%;
  margin: 0 auto;
}
.bg-custom {
  background-color: transparent;
}

.link {
  margin: 2px 8px;
  font-family: "Montserrat", sans-serif;
  color: "black";
  width: 100%;
  a {
    text-decoration: none;
    color: #717171;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out 0s;
    font-size: 17px;

    &.active,
    &:hover {
      margin-top: 20px;
      border-bottom: 1.5px solid #504edf;
      border-radius: 1px;
      visibility: visible;
      transform: scaleX(1);
      transition: all 0.1s ease-in-out 0s;
      color: #232b4e;
      font-weight: 600;
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.parag {
  word-wrap: break-word;
}

.navbar-nav .dropdown-menu {
  width: 250px;
}

.notification-item:last-child {
  border-bottom: 0px transparent !important;
  padding-bottom: 0px;

  &:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    padding-top: 20px;
    border-bottom: 1px solid #e1e3e8;
  }
}

.notification-item {
  border-bottom-width: thin;
  padding-bottom: 10px;
  padding-top: 10px;
  &:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 98%;
    padding-top: 20px;
    border-bottom: 1px solid #e1e3e8;
  }
}

@media only screen and (min-width: 768px) {
  .one {
    align-items: center;
    .nav .dropdown {
      cursor: pointer;
      position: absolute;
      left: 88%;
      top: 30%;
    }

    .dropdown-menu {
      cursor: pointer;
      position: absolute !important;
      left: -15em;
      top: 3em;
    }
  }
}

.dropdown-menu {
  a {
    color: black !important;
  }
}

.mt-5,
.my-5 {
  margin-top: 0 !important;
}

.header-cont {
  background-color: #eaecf1;
  width: 85%;
}

@media only screen and (min-width: 576px) {
  #guest-nav {
    align-items: center;
  }
}

.sideNav {
  position: fixed;
  background-color: #253544;
  width: 240px;
  height: 100%;
  z-index: 99;
  // box-shadow: 0 0 14px rgb(47, 47, 47);
}

.activeSide {
  color: #42a0ec;
  background-color:'#1f2531';
  width:240px;
  height:40px;
  border:#1d2635 solid 1px;
}
