.react-calendar__tile {
  background-color: #babacc;
}

.react-calendar__navigation__label {
  background: transparent !important;
  color: rgb(225, 227, 232);
  border: none;
}

.react-calendar__tile {
  // margin-bottom: 4px;
  border: none;
  border: 1px solid rgb(35, 35, 51);
  // border-radius: 24px;
  abbr {
    font-size: 18px;

    color: rgb(35, 35, 51);
  }
  &:focus {
    outline: none;
  }
}
.react-calendar__month-view {
  display: flex;
  justify-content: center;
  align-items: center;
  &:nth-child(1){
    min-width: 100%;
  }
}
.react-calendar__month-view__weekdays__weekday {
  color: #e1e3e8;
  abbr {
    font-size: 18px;

    text-decoration: none;
  }
}

.react-calendar__tile--active {
  background-color: rgb(80, 78, 223);
  &:hover,&:focus {
    background-color: rgb(80, 78, 223) !important;
  }
}

.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.6;
}

.react-calendar__navigation .react-calendar__navigation__label:focus {
  outline: none !important;
}

.react-calendar__navigation span {
  font-size: 36px;
}
