@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /* box-sizing: border-box; */
}

body,
html {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: #eaecf1;
}

body {
  background-color: #eaecf1;
  box-sizing: border-box;

  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.flexCol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
