#goDiv {
  animation: play 2s ease infinite;
  padding: 30px;
  background-color: rgba(80, 78, 223, 0.78);
  color: #babacc;
  border-radius: 8px;
}

#goButton {
  margin-right: 10px;
  border: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  background-color: #babacc;
  cursor: pointer;
}

.img-thumbnail {
  background-color: transparent;
  border: none;
}

@keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
  }
  25% {
    box-shadow: 0 0 0 10px rgba(22, 22, 22, 0.4), 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
  25% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.4), 0 0 0 30px rgba(255, 255, 255, 0.2);
  }
}
